h1{
    text-align: center;
}
input,select,option,textarea{
    border: solid 1px;
    border-radius: 5px;
}
button{
    width:100px;
    margin:0.5rem 0 !important; 
    
} 
#page{
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin:auto;
}
#form{
    width:50%;
    display: inline-grid;
}
#image_preview{
    width:20%;
    margin: 0 auto;
    display: inline-grid;
}

input:focus, select:focus, textarea:focus{
    outline:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* custom classes */

