h1{
    text-align: center;
}
input,select,option,textarea{
    border: solid 1px;
    border-radius: 5px;
}
button{
    width:90px;
    margin:0.5rem 0 !important; 
} 
#page{
    font-family: Arial, Helvetica, sans-serif;
    width:40%;
    margin:auto;
}
#form{
    display:grid;
}
input:focus{
    outline:none;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}