.plus_minus_outer{
    border-radius: 50%;
    border: white;
    padding: 0;
    background: transparent;
    width: 32px;
    height: 32px;
}
.minus_inner{
    color: black;
}
.plus_inner{
    width: auto;
    height: auto;
    color: #64C042; 
}
.plus_minus_outer:focus{
    outline: none;
}
@media only screen and (min-width: 991px) and (max-width: 1199px){
    .minus_inner{
        position: absolute;
        top: 2px;
        left: 2.6px;
    }
    .plus_minus_outer{
        position: relative;
        width: 24px;
        height: 24px;
    }
}
@media only screen and (max-width: 420px){
    .minus_inner{
        position: absolute;
        top: 2px;
        left: 2.6px;
    }
    .plus_minus_outer{
        position: relative;
        width: 24px;
        height: 24px;
    }
}